*{
    margin: 0;
    padding: 0;
}
.container{
   height: 100vh;
   width: 100%;
   background-image: url(Music1/c-d-x-PDX_a_82obo-unsplash\ \(1\).jpg); 
   background-size: cover;
   background-repeat: no-repeat;
   /* background-size: 100% 100%; */
   background-position:center;
   position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.logo{
    margin: 10px 15px;
    cursor: pointer;
}
.logo img{
    height: 56px;
    margin: 3px 5px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
.navbar ul li a{
    color: rgb(224, 246, 250);
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 10px;
}
.navbar ul li a:hover{
    color: rgb(7, 6, 6);
    background-color: white;
}
.left-col img{
    height: 56px;
    filter: invert(1);
}
.left-col{
    margin-left: 6%;
    margin-top: 190px;
    display: flex;
    align-items: center;
}
.left-col p{
    font-size: 30px;
    color: rgb(7, 7, 7);
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
#icon{
    cursor: pointer;
}
#icon1{
    margin-left: 18px;
    cursor: pointer;
    height: 54px;
}
.left{
    float: left;
    margin-left:6%;
    color: rgb(10, 9, 9);
    padding-top: 10px;
}
.left:hover{
    color: rgb(224, 246, 250);
    cursor: pointer;
}
.left p{
    padding: 5px;
}
.right-col{
    float: right;
    margin-right: 26%;
    bottom: 160px;
    position: relative;
    font-size: 30px;
    color: rgb(224, 246, 250);
    line-height: 70px;
}
.search-box{
    position: absolute;
    left: 82%;
}
.search-box input{
    padding: 6px;
    width: 190px;
    text-align:center;
    border-radius: 10px;
    border: 3px solid black;
}
